h1{
   color:red;
}

paper-card {
   --paper-card-header-color: #FFF;
   --paper-card-background-color : #222e3c; 
   color: #FFF;
   margin: 12px;
   border-radius: 12px;
 }

 .tableWrapper.MuiPaper-root{
   margin: 10px;
   width: 98%;
   background-color: #222e3c;
 }

 .tdDiv.MuiTableCell-root{
   border-bottom: 1px solid rgb(35 42 50);
 }

 .tdHead.MuiTableCell-root{
   font-size: 15px;
 }