h1{
   color:red;
}

paper-card {
   --paper-card-header-color: #FFF;
   --paper-card-background-color : #222e3c; 
   color: #FFF;
   margin: 12px;
   border-radius: 12px;
 }

 .tableWrapper.MuiPaper-root{
   margin: 10px;
   width: 98%;
   background-color: #222e3c;
 }

 .tdDiv.MuiTableCell-root{
   border-bottom: 1px solid rgb(35 42 50);
 }

 .tdHead.MuiTableCell-root{
   font-size: 15px;
   color:#FFF
 }

 .fColor.MuiTableCell-root{
  color:#FFF
 }

 .newsContainer{
  min-height: 100vh;
  background-color: #222e3c;
  margin: 12px;
  border-radius: 12px;
}

.newscontent{
  background-color:#222e3c;
  color:#9e9e9e;
}

.newscontent a{
 color:#FFF;
 text-decoration: none;
}

