

 .tableWrapper.MuiPaper-root{
   margin: 10px;
   width: 98%;
   background-color: #222e3c;
 }

 .tdDiv.MuiTableCell-root{
   border-bottom: 1px solid rgb(35 42 50);
 }

 .tdHead.MuiTableCell-root{
   font-size: 15px;
   color:#FFF
 }

 .fColor.MuiTableCell-root{
  color:#FFF
 }

 .newsContainer{
  min-height: 100vh;
  background-color: #222e3c;
  margin: 12px;
  border-radius: 12px;
}

.newscontent{
  background-color:#222e3c;
  color:#9e9e9e;
}

.newscontent a{
 color:#FFF;
 text-decoration: none;
}

.loadingBox.MuiBox-root{
  background-color:#222e3c;
   border-radius: 5px;
}


/*card*/

.globalcard.MuiPaper-root{
  margin: 12px;
  border-radius: 12px;  
  background-color : #222e3c; 
  color: #FFF;
 }


 .MuiTypography-root{
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  color: #FFF; 
  text-align: center;
 }

 .MuiTypography-root svg{
  margin-right: 14px;
  color: #FFF; 
 }

.Topwrapper, .Topwrapper>.MuiPaper-root, .Topwrapper>.MuiPaper-root>.MuiCardContent-root{
  display: flex;
}

.Topwrapper>.MuiPaper-root>.MuiCardContent-root{
  flex-direction: column;
  justify-content: space-between;
}

.chipWrapper .MuiChip-root{
  margin: 5px;
}


