html {background-color: #19222c}

body{
    margin:0px;
    overflow-x: hidden;
    font-family: sans-serif;
    background-color: #19222c
}

.menu{
    display: block;
    padding: 0 16px;
    text-decoration: none;
    color: gray;
    line-height: 50px;
    outline-color: #ff000000;
 }

.menu.selected {
    background:linear-gradient(90deg,rgba(59,125,221,.1),rgba(59,125,221,.088) 50%,hsla(0,0%,100%,0));
    color: white ;  
} 

.appDrawer .MuiPaper-root{
    background-color: #222e3c;
}